# Node modules
node_modules/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS-specific files
.DS_Store
Thumbs.db

# Environment files
.env
.env.local

# Playwright test outputs
test-results/
playwright-report/
.vscode/

# Coverage (if using coverage tools like nyc or jest)
coverage/

# Output folders from build tools
dist/
build/
